*{
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
}

.body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 1rem;
    background-size: auto;
    height: 99vh;
    width: 99vw;
    position: fixed;
}
.formulario{
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 300px;
    gap: 15px; 
}
.forminput{
    height: 45px;
    width: 313px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    
}
.formulario-botao{
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    padding: 20px;
}
.formbotao{
    height: 45px;
    width: 100px;
    border-radius: 25px;
}
.titulo-form{
    font-style: italic;
    font-size: 70px;
}
