.back{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 0rem;
    background-size: cover;
    height: 100vmax;
    width: 100vmax;
    position: fixed;
    margin: 0 auto;
}
.nav{
    display: flex;
    gap:30px;  
    padding: 20px;
    opacity: 0.8;
    justify-content: space-around;
}
.active{
    font-style: italic;
    color: #000;
    font-size: 30px;
}
.table-responsive {
    max-height:200px;
    max-width: 1000px;
}
table {
    border-collapse: collapse;
    overflow-y: scroll;
  }
td,
th {
  text-align:center;
  height: 25px;
  border: dashed 1px lightblue;
  overflow: hidden;
  white-space: nowrap;
}
.table-responsive {
    max-height:300px;
}
